.parent{
    padding: 4%;
    border: 1px solid green;
    /* Create a flexible container which makes all items flexible */
    display: flex;
    background-color: coral;
    height: 600px;
    /* Aligns flexibile items horizontally */
    justify-content: center;

    /* Aligns flexibile items vertically */
    align-items: center;
}

.child{
    display: flex;
    background-color: yellow;
    border: 1px solid black;
    margin: 2%;
    height: 150px;
    font-weight: bold;
    font-style: italic;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.hide{
    /* display: none; */
    /* visibility: hidden; */
}

.position{
    /* Static is default value of position for every element in html */
    position: static;
    /* When position is static below properties won't work */
    left: 50px;
    top: 40px;
    right: 20px;
    bottom: 20px;
}