body{
    margin: 25px !important;
}

.parent{
    /* padding: 4%; */
    border: 1px solid green;
    /* Create a flexible container which makes all items flexible */
    display: flex;
    background-color: coral;
    height: 600px;
    /* Aligns flexibile items horizontally */
    justify-content: center;

    /* Aligns flexibile items vertically */
    align-items: start;
    height: 3000px;
    flex-direction: column;
}

.child{
    display: flex;
    background-color: yellow;
    border: 1px solid black;
    margin: 2%; 
    height: 80px;
    font-weight: bold;
    font-style: italic;
    width: 80px;
    justify-content: center;
    align-items: flex-start;
}

.hide{
    /* display: none; */
    /* visibility: hidden; */
}

.position{
   
    
    position: sticky;
    
    /* left, top from original position of element */
    left: 0px;
    top: 0px;
}