.parent{
    padding: 3%;
    background-color: coral;
    border: 1px solid green;
    /*create a flexible container which makes all item flexible*/
    display: flex;
    height: 500px;
    /*Aligns flexible item horizontally*/
    justify-content: center;
    /*Aligns flexible items vertically*/
    align-items: start;
    flex-direction: column;

}
.child{
    display: flex;
    background-color: yellow;
    border: 1px solid black;
    margin: 5%;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;/*remove the content from page */
    visibility: hidden; /*just hide the content from page*/
}