/* univarsal selector*/
*{
    font-family: 'Courier New', Courier, monospace;
}
/* using class selector*/
.mandatory_field{
    font-weight: bold;

}
#h2title{
    color: antiquewhite;
}
.header{
   
    height: 150px;
    background-image: url(https://media.istockphoto.com/photos/minimal-work-space-creative-flat-lay-photo-of-workspace-desk-top-view-picture-id1220573371?b=1&k=20&m=1220573371&s=170667a&w=0&h=dyT6F0wNP1NdDdvvTd95RVrR8qHwbEU8bqLxpDpSejw=);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    
}
.container{
    background-color: aquamarine;
}
.title{
    background-color: lightpink;
    border: 2px solid red;
    padding: 50px;
    padding-left: 0;
    margin: 0px;
    margin-left: 0;
   /* padding: 10px 20px 25px 30px;*/
    /*top right bottom left*/
    margin: 30px 20px;
    /* topBottem  leftRight*/
}
#displaycss{
    display: block;
}
